<!DOCTYPE HTML>
<html>
	<head>
	</head>
	<body>

		<b> <h1> Wattup yo....ok this time im having yall sign up to this wack website </b> </h1>
		<form method = "POST">
			<label>
				Username:<input type = "text" name = "username" value = "{{up}}">  <b style = "color : red"> {{usererr}} </b>
			</label> 
			<br>
			<label> Password:
			<input type = "password" name = "password"> <b style = "color : red"> {{passerr}} </b>
			</label>
			<br>
			<label> 
				Verify password: <input type = "password" name = "verify"> <b style = "color : red"> {{matchoo}} </b>
			</label>
			<br>
			<label> Email (Optional): 
				<input type = "text" name = "email" value = "{{ep}}"> <b style = "color : red">{{mailerr}} </b>
			</label>
			<br>
			<input type = "submit">
			</form>
	</body>
</html>
